%html
  %head
    %title
      Test of layout for table
    %style
      :sass
        .item
          display: flex
  %body
    %h1
      ul-flex
    %ul
      %li.item
        .outline
          apa
        .estimate
          3v 4d
